{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid" id="cv_container">
		<div
			class="row">

			<!-- DIV COORDONNES -->
			<div class="col-sm-6 col-md-5 col-lg-4 col-xxl-3 px-0" id="encadre">
				<aside class="mt-3 ms-5">
					<img src="/assets/src/Photo_Oceane.jpg" class="img-fluid" alt="photo">
					<h2 class="nom">
						Océane ETIENNE</h2>

					<br>
					<br>
					<br>

					<h3>
						CONTACTS
					</h3>

					<h5>
						07 86 28 29 55
					</h5>
					<h5>
						etienne.oceane@outlook.com
					</h5>
					<h5>
						Permis B + véhiculée
					</h5>

					<br>

					<!-- Lien linked in  -->
					<h5>
						<i class="fab fa-linkedin fa-x"></i>&nbsp
						<a href="https://www.linkedin.com/in/océane-etienne/">océane-etienne</a>
					</h5>

					<!-- Lien github -->
					<h5>
						<i class="fab fa-github fa-x"></i>&nbsp
						<a href="https://github.com/etienneoceane?tab=repositories">etienneoceane</a>
					</h5>
					<br>
					<br>
					<br>

					<h3>
						Envoyer un message
						<i class="fas fa-arrow-circle-down"></i>
					</h3>
					<div
						class="col-10">
						<!-- FORMULAIRE DE CONTACT -->
						<form action="message_contact.php" method="post" name="form_contact">
							<div class="form-group">
								<label for="email">Votre e-mail</label>
								<input type="email" class="form-control" id="email" placeholder="name@example.com">
								<span id="error1" class="mb-3 d-block"></span>
							</div>
							<div class="form-group">
								<label for="sujet">Sujet</label>
								<input type="text" class="form-control" id="sujet">
								<span id="error2" class="mb-3 d-block"></span>
							</div>
							<div class="form-group">
								<label for="message">Votre message</label>
								<textarea class="form-control" id="message" rows="8"></textarea>
							</div><br>
							<button type="submit" value="Envoyer" name="send" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</aside>
			</div>

			<!-- DIV COMPETENCES PROFESSIONNEL FORMATION -->
			<div
				class="col-sm-6 col-md-7 col-lg-8 col-xxl-9 px-0" id="encadre2">

				<!-- PROFESSIONNEL -->
				<div class="text-center">
					<h1 id="titre">Développeuse web junior</h1>
					<div id="previous-me">
						<i>Avide de savoir et de connaissances, je souhaite lier ma passion<br>
							pour l'informatique avec mon travail dans le cadre d’une reconversion professionnelle</i>
					</div>
					<h2>EXPERIENCES PROFESSIONNELLES</h2>
				</div>
				<div class="row">

					<div class="col-3">
						<p>
							<b class="date">2022</b>
						</p>
					</div>
					<div class="col-7">
						<p class="intitule">CONCEPTRICE DEV. D'APPLICATIONS (stage) - A.F.P.A Amiens (80)</p>
						<ul class="description">
							<li>Maquetter une application</li>
							<li>Concevoir les programmes et applications informatiques</li>
							<li>Développer des composants d’accès aux données</li>
							<li>Utilisation de Frameworks (Symfony, JQuery,React..) etc.</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<p>
							<b class="date">2021</b>
						</p>
					</div>
					<div class="col-7">
						<p class="intitule">Développeuse Web stagiaire - Aurior Amiens (80)</p>
						<ul class="description">
							<li>Élaborer et rédiger les spécifications techniques (cahier des
								charges technique) de l'application informatique.</li>
							<li>Développer la partie back-end et front-end d'une application</li>
							<li>Gestion de bases de données</li>
							<li>Création de fonctions dynamiques etc.</li>
						</ul>
					</div>
				</div>

				<div class="row">
					<div class="col-3">
						<p>
							<b class="date">2020</b>
						</p>
					</div>
					<div class="col-7">
						<p class="intitule">
							Employée de reprographie - Roquette-frères Lestrem (62)
						</p>
					</div>
				</div>
				<div class="row ">
					<div class="col-3">
						<p>
							<b class="date">2019</b>
						</p>
					</div>
					<div class="col-7">
						<p class="intitule">Secrétaire administrative - Eiffage Construction  Amiens(80)</p>
					</div>
				</div>
				<div class="row ">
					<div class="col-3">
						<p>
							<b class="date">2018</b>
						</p>
					</div>
					<div class="col-7">
						<p class="intitule">Secrétaire administrative et d'accueil - Le paraclet Cottenchy (80)</p>
					</div>
				</div>
				<div class="row ">
					<div class="col-3">
						<p>
							<b class="date">2017</b>
						</p>
					</div>
					<div class="col-7">
						<p class="intitule">Agente administrative et d'accueil - Pôle-emploi Dury (80)</p>
					</div>
				</div>
				<div class="row ">
					<div class="col-3">
						<p>
							<b class="date">2016</b>
						</p>
					</div>
					<div class="col-7">
						<p class="intitule">Auxiliaire vétérinaire - Cabinet Maison Dury (80)</p>
					</div>
				</div>

				<!-- FORMATION -->
				<div class="text-center">
					<h2>FORMATIONS</h2>
				</div>
				<div class="row">
					<div class="col-3">
						<p>
							<b class="date">2022</b>
						</p>
					</div>
					<div class="col-7">
						<p class="intitule_formation">Titre professionnel de concepteur développeur d'applications</p>
						<p class="description">AFPA d'Amiens (BAC +3)</p>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<p>
							<b class="date">2021</b>
						</p>
					</div>
					<div class="col-7">
						<p class="intitule_formation">Titre professionnel de développeur web et web mobile</p>
						<p class="description">AFPA D'Amiens (BAC+2)</p>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<p>
							<b class="date">2017</b>
						</p>
					</div>
					<div class="col-7">
						<p class="intitule_formation">Titre professionnel d'employée adminstrative et d'accueil</p>
						<p class="description">AFPA D'Amiens</p>
					</div>
				</div>
				<div class="row ">
					<div class="col-3">
						<p>
							<b class="date">2015</b>
						</p>
					</div>
					<div class="col-7">
						<p class="intitule_formation">
							DUT Génie biologique</p>
						<p class="description">Université de Picardie Jules Verne (BAC+2)</p>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<p>
							<b class="date">2013</b>
						</p>
					</div>
					<div class="col-7">
						<p class="intitule_formation">Baccalauréat Scientifique</p>
						<p class="description">Lycée Louis Thuillier</p>
					</div>
				</div>

				<!-- COMPETENCES -->
				<div class="text-center">
					<h2>COMPETENCES</h2>
				</div>
				<div class="d-flex flex-row">
					<div class="col-3">
						<ul>
							<b class="competences">Symfony</b>
						</ul>
					</div>
					<div class="col-3">
						<ul>
							<b class="competences">Bootstrap</b>
						</ul>
					</div>
					<div class="col-3">
						<ul>
							<b class="competences">Ajax</b>
						</ul>
					</div>
				</div>
				<div class="d-flex flex-row">
					<div class="col-3">
						<ul>
							<b class="competences">PHP/SQL</b>
						</ul>
					</div>
					<div class="col-3">
						<ul>
							<b class="competences">Javascript</b>
						</ul>
					</div>
					<div class="col-3">
						<ul>
							<b class="competences">React</b>
						</ul>
					</div>
				</div>
				<div class="d-flex flex-row">
					<div class="col-3">
						<ul>
							<b class="competences">HTML/CSS</b>
						</ul>
					</div>
					<div class="col-3">
						<ul>
							<b class="competences">Git</b>
						</ul>
					</div>
				</div>

				<!-- INTERETS -->
				<div class="text-center">
					<h2>INTERETS</h2>
				</div>
				<br>
				<div class="text-center" id="interets">
					<p>
						<i class="fas fa-pencil-alt"></i>
						Digital painting &nbsp
						<i class="fas fa-tree"></i>
						nature &nbsp
						<i class="fas fa-paint-brush"></i>
						aquarelle &nbsp
						<i class="fas fa-table-tennis"></i>
						badminton</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

